
  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html, body {
  height: 100%
 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.game {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
 
}

h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 200px;
  
}

.btn-truth {
  background-color: #008CBA;
  font-family: 'Balsamiq Sans', cursive;
}

.btn-dare {
  background-color: #f44336;
  font-family: 'Balsamiq Sans', cursive;
}

@media (max-width: 480px) {
  .buttons {
    flex-direction: column;
  }
  
  button {
    min-width: unset;
    width: 100%;
    padding: 16px 32px;
    font-size: 20px;
    margin: 10px;
  }
}
